.form-icon{
    width: 200px;
    height: fit-content;
    text-align: center;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
}
.form-icon:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
    0 -4px 8px rgba(0, 0, 0, 0.2),
    4px 0 8px rgba(0, 0, 0, 0.2),
    -4px 0 8px rgba(0, 0, 0, 0.2);;
}
.form-icon img{
    width: 200px;
}
.formIcon-title{
    margin-top: 0;
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}