
.invoice{
    width: 793px;
    height: 1050px;
    background: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
  }
  
  .top{
    background-color: #314BCD;
    width: 793px;
    height: 6px;
  }
  
  .b-l{
    font-weight: 700;
  }
  .big{
    font-size: 20px;
  }
  .b-500{
    font-weight: 500;
  }
  .b-300{
    font-weight: 450;
  }
  .m-1{
    margin-top: 10px;
  }
  .m-2{
    margin-top: 20px;
  }
  .m-3{
    margin-top: 30px;
  }
  
  .outer-pad{
    padding: 30px 30px;
  }
  
  .invoice-info{
    margin-top: 20px;
    display: flex;
    gap: 25px;
  }
  .invoice-address{
    margin-top: 40px;
    display: flex;
    gap: 100px;
  }
  .row-details{
    display: flex;
  }
  
  .description{
    width: 483px;
  }
  .qty{
    width: 50px;
    text-align: end;
  }
  .amount{
    width: 100px;
    text-align: end;
  }
  .unit-price{
    width: 100px;
    text-align: end;
  }
  
  .t-s{
    font-size: 12px;
  }
  
  .hr{
    width: 733px;
    border-bottom: 1px solid black;
  }
  .hr-light{
    border-bottom: 2px solid #EBEBEB;
    border-top: 2px solid #EBEBEB;
    width: 366px;
    
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content:space-between;
  }
  .hr-bottom{
    border-bottom: 2px solid #EBEBEB;
  }
  
  .b-none{
    border-top: none;
  }
  .right{
    float: right;
  }
  .m-x{
    margin-top: 400px;
  }