.kotak-form{
    width: 1240px;
    margin: auto;
    position: relative;
}
.kotak-font{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    font-weight: 500;
}
.kotak-tick-debit{
    position: absolute;
    top: 270px;
    left: 55px;
    width: 30px;
    height: 30px;
}
.kotak-tick-debit img{
    width: 30px;
}
.kotak-tick-credit{
    position: absolute;
    top: 270px;
    left: 240px;
    width: 30px;
    height: 30px;
}
.kotak-tick-credit img{
    width: 30px;
}
.kotak-font{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    font-weight: 500;
}
.kotak-name{
    position: absolute;
    top: 453px;
    left: 118px;
    display: flex;
    width: 1010px;
    gap: 14PX;
   
}
.kotak-card{
    position: absolute;
    top: 310px;
    left: 190px;
    letter-spacing: 12px;
}
.refund-tick img{
    width: 25px;
    position: absolute;
    top: 1220px;
    left: 70px;
}
.kotak-sig-1{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 20px;
    position: absolute;
    top: 2020px;
    left: 100px;
}
.kotak-sig-2{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 20px;
    position: absolute;
    bottom: 380px;
    left: 100px;
}
.kotak-today-day{
    position: absolute;
    bottom: 355px;
    left: 995px;
    letter-spacing: 15px;
    display: flex;
}
.kotak-year{
    margin-left: 6px;
    display: flex;

}

.kotak-transaction-1{
    position: absolute;
    display: flex;
    top: 650px;
    left: 130px;
}
.kotak-transaction-2{
    position: absolute;
    display: flex;
    top: 690px;
    left: 130px;
}
.kotak-transaction-3{
    position: absolute;
    display: flex;
    top: 730px;
    left: 130px;
}
.kotak-transaction-4{
    position: absolute;
    display: flex;
    top: 770px;
    left: 130px;
}
.kotak-transaction-5{
    position: absolute;
    display: flex;
    top: 810px;
    left: 130px;
}
.kotak-tra-date{
    width: 185px;
    text-align: center;

}
.kotak-merchant{
    width: 310px;
    text-align: center;

}
.kotak-amount-1{
    width: 150px;
    text-align: center;

    margin-left: 220px;
}
.kotak-amount-2{
    width: 150px;
    text-align: center;

}
.kotak-email{
    position: absolute;
    top: 2670px;
    left: 440px;
    width: 655px;

    display: flex;
}