.basicgmail-form{
    width: 816px;
    height: 2200px;
    background-color: WHITE;

    margin: auto;
    padding: 30px;
    color: black;
}

.mail-conversationn-main{
    margin: 20px 0px 20px 0px;
    background-color: white;
    width: 50%;
    border: 2px solid rgb(107, 101, 101);
    padding: 15px;
}
.mail-conversationn-centre{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.mail-conversationn-logo img{
    height: 70px;
}
.mail-conversationn-first{
    align-items: center;
    height: 70px;
}
.mail-conversationn-third, .mail-conversationn-first{
    display: flex;
    justify-content: space-between;
}
#list{
    list-style: decimal;
}
.mail-conversationn-second-align li{
    margin-left: 100px;
}
.mail-conversationn-align{
    margin-top: -13px;
}


