.hdfc-form{
   
    position: relative;
}
.hdfc-font{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.hdfc-name{
    position: absolute;
    top: 365px;
    left: 180px;
    
}
.hdfc-card-num{
    position: absolute;
    top: 445px;
    left: 86px;
    display: flex;
    gap: 24px;
}
.hdfc-transaction-1{
    position: absolute;
    display: flex;
    top: 620px;
    left: 78px;
}
.hdfc-transaction-2{
    position: absolute;
    display: flex;
    top: 650px;
    left: 78px;
}
.hdfc-transaction-3{
    position: absolute;
    display: flex;
    top: 685px;
    left: 78px;
}
.hdfc-transaction-4{
    position: absolute;
    display: flex;
    top: 715px;
    left: 78px;
}
.hdfc-date{
    width: 256px;
    text-align: center;
}
.hdfc-merchant{
    width: 468px;
    text-align: center;
}
.hdfc-amount{
    width: 350px;
    text-align: center;
}
.hdfc-inputfields{
    border: 2px solid #9a9494;
    padding: 10px 10px;
    border-radius: 10px;
    margin: 10px 10px;
}
.hdfc-mail{
    position: absolute;
    display: flex;
    top: 1465px;
    left: 260px;
}
.hdfc-date-today{
    position: absolute;
    display: flex;
    top: 1465px;
    left: 850px;
}

.hdfc-signature{
    position: absolute;
    display: flex;
    top: 1500px;
    left: 150px;
    font-size: 30px;
}
.dancing-script-sig {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.tick1{
    background-color: transparent;
    position: absolute;
    left: 81px;
    top: 924px;
    width: 22px;
    height: 22px;
}
.hdfc-j-ends{
    width: 370px;
    justify-content: space-between;
}
.hdfc-hr-light{
    border-bottom: 2px solid #9a9494;
    
    width: 366px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content:space-between;
    margin-bottom: 5px;
  }