.yesbank-form{
    width: 1274px;
    margin: auto;
    position: relative;
}
.yes-font{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 500;
}

.yes-name{
    position: absolute;
    top: 405px;
    left: 37px;
    letter-spacing: 29px;
    display: flex;
}
.yes-word-box{
    border: 2px solid red;
    width: 44px;
    padding: 0px;
    margin: 0px;
}
.yes-name-box{
    position: absolute;
    top: 401px;
    left: 37px;
    width: 1158px;
    height: 40px;
    display: flex;
    gap: 2px;
    
}

.yes-inner-box{

    width: 44px;
    height: 40px;
    text-align: center;
}

.yes-card-box-1{
    position: absolute;
    top: 515px;
    left: 37px;

    width: 274px;
    display: flex;
}
.yes-card-box-2{
    position: absolute;
    top: 515px;
    left: 590px;
    width: 274px;
    display: flex;
}
.yes-mob-no{
    position: absolute;
    top: 580px;
    left: 420px;
    letter-spacing: 32px;
}

.yes-email-box{
    position: absolute;
    top: 685px;
    left: 37px;
    width: 1158px;
    height: 40px;
    display: flex;
    gap: 2px;
}

.yes-transaction-1{
    position: absolute;
    top: 850px;
    left: 36px;
    display: flex;

}
.yes-transaction-2{
    position: absolute;
    top: 890px;
    left: 36px;
    display: flex;

}
.yes-transaction-3{
    position: absolute;
    top: 940px;
    left: 36px;
    display: flex;

}
.yes-transaction-4{
    position: absolute;
    top: 980px;
    left: 36px;
    display: flex;

}
.yes-transaction-5{
    position: absolute;
    top: 1030px;
    left: 36px;
    display: flex;

}
.yes-transaction-date{
    text-align: center;
    width: 290px;
}
.yes-merchant{
    text-align: center;
    width: 290px;
}
.yes-amount{
    text-align: center;
    width: 290px;
}

.yes-name-down{
    position: absolute;
    bottom: 333px;
    left: 300px;
}

.yes-name-sign{
    position: absolute;
    bottom: 383px;
    left: 300px;
}
.yes-sign{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 30px;
}
.yes-date{
    position: absolute;
    top: 215px;
    right: 47px;
    letter-spacing: 21px;
}