.rbl-form{
    width:1240px;
    margin: auto;
    position: relative;
}

.rbl-font{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    font-weight: 500;
}
.rbl-name{
    position: absolute;
    top: 230px;
    left: 700px;
}
.rbl-card{
    position: absolute;
    top: 280px;
    left: 700px;
}
.rbl-phone{
    position: absolute;
    top: 340px;
    left: 700px;
}
.rbl-email{
    position: absolute;
    top: 390px;
    left: 700px;
}
.rbl-date{
    position: absolute;
    top: 120px;
    left: 1000px;
}
.rbl-transaction-1{
    position: absolute;
    display: flex;
    top: 540px;
    left: 31px;
}
.rbl-transaction-2{
    position: absolute;
    display: flex;
    top: 570px;
    left: 31px;
}
.rbl-transaction-3{
    position: absolute;
    display: flex;
    top: 610px;
    left: 31px;
}
.rbl-transaction-4{
    position: absolute;
    display: flex;
    top: 640px;
    left: 31px;
}
.rbl-transaction-date{
    width: 190px;
    text-align: center;
}
.rbl-merchant{
    width: 565px;
    text-align: center;
}
.rbl-amount{
    width: 220px;
    text-align: center;
}
.rbl-sig{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 30px;
}
.rbl-sign-1{
    position: absolute;
    top: 1650px;
    left: 400px;
}
.rbl-sign-2{
    position: absolute;
    top: 3130px;
    left: 400px;
}
.rbl-statement-1{
    position: absolute;
    display: flex;
    top: 540px;
    left: 230px;
}
.rbl-statement-2{
    position: absolute;
    display: flex;
    top: 570px;
    left: 230px;
}
.rbl-statement-3{
    position: absolute;
    display: flex;
    top: 610px;
    left: 230px;
}
.rbl-statement-4{
    position: absolute;
    display: flex;
    top: 645px;
    left: 230px;
}